[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.1.1"
django-rest-framework = "*"
python-dotenv = ">=0.19.2"
psycopg2-binary = ">=2.9.3"
selenium = ">=4.5.0"
djangorestframework-jwt = "*"
celery = ">=5.2.7"
pip = ">=22.2.2"
boto3 = ">=1.24.84"
django-storages = "*"
django-ses = "*"
pycurl = ">=7.45.1"
fastapi = "*"
uvicorn = "*"
django-extensions = "*"
django-shell-plus = "*"
requests = "*"
sqlalchemy = "*"
aiokafka = "*"
kafka-python = "*"
python-json-logger = "*"

[dev-packages]

[requires]
python_version = "3.10"
